@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMAGE RESIZING</h1>
    <p class="lead">This a sample application for resizing images.</p>
    <p><a href="/" class="btn btn-primary btn-lg">Let's see below gallery samples &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Getting started With Image Resizer</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/lights.jpg">
                        <img src="~/imges/1c60deb879c1d009e2cff289199c67107c.jpg?w=200&h=200" />                        
                        <div class="caption">
                            <p>w=200&h=220</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/nature.jpg">
                        <img src="~/imges/Awesome-Red-Rose.jpg?w=200&h=200&mode=max&srotate=90" />                        
                        <div class="caption">
                            <p>w=200&h=200&mode=max&srotate=90</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg">
                        <img src="~/imges/ffgsgsg.jpg?w=200&h=200&s.grayscale=true" />                        
                        <div class="caption">
                            <p>w=200&h=200&s.grayscale=true</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg">
                        <img src="~/imges/ffgsgsg.jpg?w=200&h=200&s.sepia=true" />
                        <div class="caption">
                            <p>w=200&h=200&s.sepia=true</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">                    
                    <a href="/w3images/fjords.jpg">
                        <img src="~/imges/ffsf400.png?w=200&h=220&mode=stretch" />                        
                        <div class="caption">
                            <p>w=200&h=220&mode=stretch</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg">
                        <img src="~/imges/imddddages.jpg?w=200&h=220&mode=carve" />                        
                        <div class="caption">
                            <p>?w=200&h=220&mode=carve</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg">
                        <img src="~/imges/imffsgsages.jpg?w=200&h=220&mode=carve" />
                        <div class="caption">
                            <p>?w=200&h=220&mode=carve</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg">
                        <img src="~/imges/imsgsgages.jpg?w=200&h=220&mode=carve" />
                        <div class="caption">
                            <p>?w=200&h=220&mode=carve</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg">
                        <img src="~/imges/rose-red-flower-victor-hugo.jpg?w=200&h=220&mode=carve" />
                        <div class="caption">
                            <p>?w=200&h=220&mode=carve</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>


    </div>
</div>